[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
graphene-django = "*"
celery = "*"
redis = "*"
openai = "*"
django-environ = "*"
django-csp = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.13"
